:root {
    --bg-color: linear-gradient(90deg, green, yellow)
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: var(--bg-color);
    background-size: 300%;
    animation: bg 3s infinite alternate;
}
   
@keyframes bg {
    0% {
        background-position: left
    }
    100% {
        background-position: right
    }
}



